<div class="container">
    <swiper-container loop="true" navigation="true" pagination="true" color="#fff">
        <swiper-slide>
            <h3>{{info.what_i_do.things[0].name}}</h3>
            <div class="content">
                <div class="data">
                    <p>{{info.what_i_do.things[0].description}}</p>
                    <ul>
                    </ul>
                </div>
                <img src="{{info.what_i_do.things[0].icon}}">
            </div>
        </swiper-slide>
        <swiper-slide>
            <h3>{{info.what_i_do.things[1].name}}</h3>
            <div class="content">
                <div class="data">
                    <p>{{info.what_i_do.things[1].description}}</p>
                    <ul>
                    </ul>
                </div>
                <img src="{{info.what_i_do.things[1].icon}}">
            </div>
        </swiper-slide>
        <swiper-slide>
            <h3>{{info.what_i_do.things[2].name}}</h3>
            <div class="content">
                <div class="data">
                    <p>{{info.what_i_do.things[2].description}}</p>
                    <ul>
                    </ul>
                </div>
                <img src="{{info.what_i_do.things[2].icon}}">
            </div>
        </swiper-slide>

    </swiper-container>
</div>