:host {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.048);
    transition: .5s ease;
    color: white;
    text-align: center;
    padding: 20px 0px;
}

h1 {
    margin: 50px 0 60px 0;
    font-size: xx-large;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 300px;
    display: flex;
    margin: 20px 40px;
}

.item img {
    width: 70px;
    height: 70px;
    margin-top: 20px;

}

.text h2 {
    font-size: larger;
    margin-bottom: 10px;
}

.text p {
    font-size: small;
}