<a class="navbar-brand">
    <span>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/89338e24-9904-45e7-9c36-fcb94fe8c9e9/dhmrcht-a1e7f963-ad81-4acb-97d2-0c2a22f9953c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg5MzM4ZTI0LTk5MDQtNDVlNy05YzM2LWZjYjk0ZmU4YzllOVwvZGhtcmNodC1hMWU3Zjk2My1hZDgxLTRhY2ItOTdkMi0wYzJhMjJmOTk1M2MuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.YCLzycmSM1INQJg9eGsrXApjuBlxkWNaqEV11f0MwsM" alt="brand">
    </span>
    <p>Angel Gabriel</p>
</a>
<nav class="navbar">
    <ul>
        <li>
            <a routerLink="index" routerLinkActive="activeNav">Home</a>
        </li>
        <li>
            <a routerLink="about" routerLinkActive="activeNav">About Me</a>
        </li>
        <li>
            <a routerLink="what-i-do" routerLinkActive="activeNav">What I Do</a>
        </li>
        <li>
            <a routerLink="works" routerLinkActive="activeNav">Works</a>
        </li>
        <li>
            <a routerLink="contact" routerLinkActive="activeNav">Contact</a>
        </li>
    </ul>
</nav>
<ul class="socials">
    <li><a href="#"><img src="assets/images/socials/github.png" alt="GitHub"></a></li>
    <li><a href="#"><img src="assets/images/socials/instagram.png" alt="Instagram"></a></li>
    <li><a href="#"><img src="assets/images/socials/linkedin.png" alt="LinkedIn"></a></li>
    <li><a href="#"><img src="assets/images/socials/logotipos.png" alt="Logotipos"></a></li>
</ul>

