<a class="navbar-brand">
    <span>
        <img src="{{info.image}}" alt="brand">
    </span>
    <p>{{info.name}}</p>
</a>
<nav class="navbar">
    <ul>
        <li>
            <a routerLink="index" routerLinkActive="activeNav">Home</a>
        </li>
        <li>
            <a routerLink="about" routerLinkActive="activeNav">About Me</a>
        </li>
        <li>
            <a routerLink="what-i-do" routerLinkActive="activeNav">What I Do</a>
        </li>
        <li>
            <a routerLink="works" routerLinkActive="activeNav">Works</a>
        </li>
        <li>
            <a routerLink="contact" routerLinkActive="activeNav">Contact</a>
        </li>
    </ul>
</nav>
<ul class="socials">
    <li><a href="#"><img src="assets/images/socials/github.png" alt="GitHub"></a></li>
    <li><a href="#"><img src="assets/images/socials/instagram.png" alt="Instagram"></a></li>
    <li><a href="#"><img src="assets/images/socials/linkedin.png" alt="LinkedIn"></a></li>
    <li><a href="#"><img src="assets/images/socials/logotipos.png" alt="Logotipos"></a></li>
</ul>

