:host {
    backdrop-filter: blur(10px);
    height: 100vh;
    box-shadow: 0 0 7px black;
}

.navbar-brand {
    display: block;
    margin: 10px auto;
    width: 80%;
    text-align: center;
}

.navbar-brand span {
    border-radius: 50%;
}

.navbar-brand span img {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 100%;
    box-shadow: inset 0 0 5px black;
}

.navbar-brand p {
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
}

.navbar {
    display: block;
    margin: 40px auto 20px auto;
    width: 80%;
    text-align: center;
}

.navbar ul li {
    color: white;
    padding: 15px 0;
}

.navbar ul li a {
    transition: .1s ease-in-out;

}

.socials {
    display: flex;
    width: 80%;
    margin: 50px auto 0 auto;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.socials li a img {
    width: 25px;
    margin: 0 5px;
}

.activeNav {
    border-bottom: 3px solid white;
}

@media screen and (max-width: 1200px) {
    :host {
        width: 80%;
        display: flex;
        padding: 10px;
        justify-content: flex-start;
    }

    .navbar-brand {
        display: none;
    }

    .navbar {
        margin: 0;
        width: 700px;
    }

    .navbar ul {
        display: flex;
        width: 600px;
    }

    .navbar ul li {
        padding: 15px 0px 15px 0px;
        margin: 0 0 0 0;
        font-size: 1.1rem;
        width: 100%;
    }

    .socials {
        display: flex;
        position: inherit;
        width: 100px;
        margin: 10px;
    }

}