<h1>{{info.contact.title}}</h1>
<div class="contact">
    <div class="info">
        <h2>{{info.contact.address.title}}</h2>
        <div class="street">
            <img src="https://img.icons8.com/ios-filled/100/FFFFFF/marker.png">
            <p>{{info.contact.address.description}}</p>
        </div>
        <div class="contacts">
            <div class="item">
                <img src="https://img.icons8.com/ios-filled/100/FFFFFF/phone.png">
                <p>{{info.contact.phone.number}}</p>
            </div>
        </div>
    </div>
    <app-form-contact [info]="info"></app-form-contact>
</div>