:host {
    display: flex;
    background-color: rgba(0, 0, 0, 0.048);
}

.right {
    width: 50%;
    height: 100%;
}

.left {
    width: 50%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .left {
        width: 70%;
    }

    .right {
        width: 30%;
    }
}