<nav class="sandwich-menu">
    <ul>
        <li><a routerLink="index" routerLinkActive="activeNav">{{ info.navbar.home }}</a></li>
        <li><a routerLink="about" routerLinkActive="activeNav">{{ info.navbar.about }}</a></li>
        <li><a routerLink="what-i-do" routerLinkActive="activeNav">{{ info.navbar.what_i_do }}</a></li>
        <li><a routerLink="works" routerLinkActive="activeNav">{{ info.navbar.projects }}</a></li>
        <li><a routerLink="contact" routerLinkActive="activeNav">{{ info.navbar.contact }}</a></li>
    </ul>
</nav>