:host {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* Asegura que el host ocupe toda la altura de la pantalla */
  width: 100vw;
  /* Asegura que el host ocupe todo el ancho de la pantalla */
  background: url('../assets/back2.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  /* Permite el scroll dentro del host */
}


button {
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 10px;
  transition: .4s ease;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 99999;
  backdrop-filter: blur(10px);
}

button:hover {
  background-color: rgba(25, 25, 112, 0.11);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.397);
  border: 1px solid white;
}



.container {
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  :host {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    height: 64px;
    position: fixed;
    z-index: 99;
    margin-top: 10px;
  }

  .container {
    width: 100%;
    height: auto;
    margin-top: 80px;
  }
}

@media screen and (max-width: 915px) {
  :host {
    align-items: start;
  }

  .navbar {
    margin: 0;
    border-radius: none;
  }


}