:host {
    display: flex;
    background-color: rgba(0, 0, 0, 0.048);
    justify-content: center;
}

.about-me {
    padding: 20px;
    color: white;
    margin: 45px auto 0 auto;
    z-index: -1;
}

.about-me h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
}

.about-me p {
    padding: 0 15px;
    text-align: center;
    line-height: 1.7;
}

.about-me h3 {
    margin-top: 40px;
    text-align: center;
}

.about-me ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.about-me ul li {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 15%;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.tecnologies-item {
    position: relative;
    height: 85px;
    overflow: hidden;
    transition: transform .3s ease;
}

.tecnologies-item:hover {
    transform: scale(1.5);
}

.tecnologies-item img {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
    .about-me ul li {
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        width: 70px;
    }
}